html{
    background-color: #ffffff;
  }
  body{
    background-color: #ffffff;
    padding: 1em;
    font-family: arial;
    display: flow-root;
    grid-template-columns: 40% 60%;
    grid-auto-rows: auto;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer"
  }
  
  
  
  
  header {
  background-color:gray;
  color: #adebeb;
  text-align: center;
  padding: 10px;
  grid-area: header;
  margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  nav {
    background-color:#70dbdb;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    border-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    z-index: 1;
    margin-bottom:40px;
  }
  
  
  h2{
    text-align: center;
    color: blue;
    
  
  }

  h4{
    text-align: center;
  }

  li{
    text-align: center;
    overflow: hidden;
  }
  
  p{
    text-align: center;
  }

  main {
    width:100%;
    background-color: rgb(177, 150, 150);
    grid-area: main;
  }
  
  aside {
    background-color: rgb(126, 90, 90);
    grid-area: aside;
  }
  
  footer {
     background-color:grey;
     color: rgba(255, 255, 255, 0.616);
     margin-top: 50px;
     grid-area: footer;
     text-align: center;
  }